plataforma/api/node_modules
plataforma/api/.env
cliente-micro/acuamet-cliente-esp32/.devcontainer
cliente-micro/acuamet-cliente-esp32/.vscode
cliente-micro/acuamet-cliente-esp32/build
cliente-micro/pcb_cliente_micro_acuamet/pcb_cliente_micro_acuamet-backups
cliente-micro/pcb_cliente_micro_acuamet/fp-info-cache

cliente-micro/pcb_cliente_micro_acuamet/pcb_cliente_micro_acuamet.kicad_prl
cliente-micro/pcb_cliente_micro_acuamet/pcb_cliente_micro_acuamet.kicad_prl
/cliente-micro/diseños_3d/servovalvula/servoval_v2/Bocetos
/cliente-micro/diseños_3d/servovalvula/servoval_v2/old
cliente-micro/pcb_cliente_micro_acuamet/pcb_cliente_micro_acuamet.kicad_prl
cliente-micro/pcb_cliente_micro_acuamet/~pcb_cliente_micro_acuamet.kicad_pcb.lck
