plataforma/api/node_modules
plataforma/api/.env
cliente-micro/acuamet-cliente-esp32/.devcontainer
cliente-micro/acuamet-cliente-esp32/.vscode
cliente-micro/acuamet-cliente-esp32/build

/cliente-micro/diseños_3d/servovalvula/servoval_v2/Bocetos
/cliente-micro/diseños_3d/servovalvula/servoval_v2/old
